
.a-1{
  width: 500px;
  height: 450px;
}
.con{
  background-color: black;
}
.ha{
  color: white;
}
h1{
  font-family: 'Mochiy Pop P One', sans-serif;
}
p{
  font-family: 'Shadows Into Light',sans-serif;
  font-size: 30px;
}
.a-2{
  width: 650px;
  height: 650px
}
.w{
  margin-left: 500px
}
.i-b{
  width: 500px;
  height: 550px;
  margin-left: 180px;
}
.co{
  background-color: blue
}
